@model IEnumerable<QuanLyTruongDaiHoc.Models.tb_ChiTietKhoaHoc>
@{
    ViewBag.Title = "AccountManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <br />
        <br />
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-body p-0">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>