@model QuanLyTruongDaiHoc.Models.tb_KhoaHoc

<div class="modal fade" id="modalLichHoc">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("ThemLichHoc", "KhoaHoc", FormMethod.Post))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Thêm lịch học</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label>Ngày:</label>
                            <div class="col-md-12">
                                <input type="date" name="date" id="date" required onchange="changeValueBaseOnTiet()" class="form-control">
                            </div>
                        </div>
                        @Html.Action("FormLichHoc", "KhoaHoc", new { @id = Model.ID })

                    </div>



                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            }



        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

