
<div class="modal fade" id="modalThemKhoaHoc">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.Action("ThemKhoaHocTheoNganh", "KhoaHoc")
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
